services:
  dagster_cloudrun_core:
    platform: linux/amd64
    build:
      context: ../..
      dockerfile: dagster_project/dagster_project/Dockerfile_dagster
    ports:
      - "3000:3000"
    # startup.shがENTRYPOINTとして設定されているため、
    # ここで指定したコマンドはstartup.shに引数として渡される
    command: ["dagster-webserver", "-h", "0.0.0.0", "-p", "3000"]
    depends_on:
      - dagster_cloudrun_user_code
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home/
      # DAGSTER_USER_CODE_SERVICEを設定して、workspace.yamlの環境変数置き換えを有効化
      - DAGSTER_USER_CODE_SERVICE=dagster_cloudrun_user_code:4000
      # デバッグモード（必要に応じて有効化）
      - DEBUG=${DEBUG:-0}

  dagster_cloudrun_daemon:
    platform: linux/amd64
    build:
      context: ../..
      dockerfile: dagster_project/dagster_project/Dockerfile_dagster
    # startup.shがENTRYPOINTとして設定されているため、
    # ここで指定したコマンドはstartup.shに引数として渡される
    command: ["dagster-daemon", "run"]
    depends_on:
      - dagster_cloudrun_user_code
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home/
      # DAGSTER_USER_CODE_SERVICEを設定して、workspace.yamlの環境変数置き換えを有効化
      - DAGSTER_USER_CODE_SERVICE=dagster_cloudrun_user_code:4000
      # デバッグモード（必要に応じて有効化）
      - DEBUG=${DEBUG:-0}

  dagster_cloudrun_user_code:
    platform: linux/amd64
    build:
      context: ../..
      dockerfile: dagster_project/dagster_project/Dockerfile_user_code
    ports:
      - "4000:4000"
