name: Terraform CD

on:
  push:
    branches:
      - main
    paths:
      - 'gcp/**'

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    environment: production
    outputs:
      completed: ${{ job.status == 'success' }}
    defaults:
      run:
        working-directory: ./gcp

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Init
        run: terraform init -upgrade=false

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve -no-color tfplan

