name: Terraform CI

on:
  pull_request:
    branches:
      - main
    paths:
      - 'gcp/**'

jobs:
  terraform-check:
    runs-on: ubuntu-latest
    if: startsWith(github.head_ref, 'feature-')
    defaults:
      run:
        working-directory: ./gcp

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform init -upgrade=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color

