name: Terraform CD

on:
  push:
    branches:
      - main
    paths:
      - 'gcp/**'

jobs:
  terraform-apply:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: ./gcp

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Authenticate to Google Cloud
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
        run: |
          echo "$GOOGLE_CREDENTIALS" > /tmp/gcp-key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp-key.json" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform init

      - name: Import existing resources (if needed)
        continue-on-error: true
        run: |
          terraform import google_service_account.data_pipeline projects/olist-data-portal/serviceAccounts/odp-data-pipeline@olist-data-portal.iam.gserviceaccount.com || true
          terraform import google_storage_bucket.data_lake odp-data-lake || true

      - name: Terraform Plan
        run: terraform plan -no-color

      - name: Terraform Apply
        run: terraform apply -auto-approve -no-color

